<form [formGroup]="form">
  <mat-card>
    <mat-card-title>
      {{
        'ADMIN_PANEL.USERS.UPDATE.TITLE.' + (create ? 'NEW' : 'UPDATE')
          | translate: { username: this.username }
      }}
    </mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <mat-label>
          {{ 'ADMIN_PANEL.USERS.UPDATE.USERNAME' | translate }}
        </mat-label>
        <input formControlName="username" [required]="create" matInput />
      </mat-form-field>
      <mat-form-field>
        <mat-label>
          {{ 'ADMIN_PANEL.USERS.UPDATE.FIRST_NAME' | translate }}
        </mat-label>
        <input formControlName="firstName" matInput />
      </mat-form-field>
      <mat-form-field>
        <mat-label>
          {{ 'ADMIN_PANEL.USERS.UPDATE.SECOND_NAME' | translate }}
        </mat-label>
        <input formControlName="secondName" matInput />
      </mat-form-field>
      <mat-form-field>
        <mat-label>
          {{ 'ADMIN_PANEL.USERS.UPDATE.LAST_NAME' | translate }}
        </mat-label>
        <input formControlName="lastName" matInput />
      </mat-form-field>
      <mat-form-field>
        <mat-label>
          {{ 'ADMIN_PANEL.USERS.UPDATE.EMAIL' | translate }}
        </mat-label>
        <input formControlName="email" type="email" matInput required />
      </mat-form-field>
      <mat-form-field>
        <mat-label>
          {{ 'ADMIN_PANEL.USERS.UPDATE.PASSWORD' | translate }}
        </mat-label>
        <input
          formControlName="password"
          type="password"
          matInput
          [required]="create"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>
          {{ 'ADMIN_PANEL.USERS.UPDATE.CONFIRM_PASSWORD' | translate }}
        </mat-label>
        <input
          formControlName="confirmPassword"
          type="password"
          matInput
          [required]="create"
        />
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button color="primary">
        {{
          'ADMIN_PANEL.USERS.UPDATE.SAVE.' + (create ? 'NEW' : 'UPDATE')
            | translate
        }}
      </button>
    </mat-card-actions>
  </mat-card>
</form>
