<mat-toolbar class="mat-elevation-z6" color="primary">
  <button mat-icon-button routerLink="">
    <mat-icon>home</mat-icon>
  </button>
  <span>{{
    'APP.TOOLBAR.TITLE.' +
      (((resizeService.innerWidth$ | async) || 0) > 700 ? 'FULL' : 'SHORT')
      | translate
  }}</span>
  <span class="spacer"></span>
  <button
    *ngIf="authService.isAdmin()"
    mat-icon-button
    [matTooltip]="'APP.TOOLBAR.ADMIN_PANEL' | translate"
    routerLink="admin-panel"
  >
    <mat-icon>admin_panel_settings</mat-icon>
  </button>
  <button mat-icon-button [matTooltip]="'APP.TOOLBAR.LOGOUT' | translate">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
<div class="main">
  <router-outlet></router-outlet>
</div>
